@import '/src/styles.less';
@marginTop: 15px;
.movie-details-holder {
    .poster-holder {
        display: flex;
        flex-direction: column;
        margin-top: @marginTop;
        img {
            border-radius: @borderRadius;
            max-height: 450px;
            max-width: 335px;
        }
        @media (max-width: @sizes[tablet]) {
            display: block !important;
            text-align: center !important;
        }
    }
    .title-holder {
      text-align: center;
      font-size: 28px;
    }
    .movie-basic-info-holder{
        .mat-toolbar {
            border-radius: @borderRadius;
            background-color: @primaryDark;
            color: @primaryWhite;
            margin-top: @marginTop;
            .mat-toolbar-row {
                padding: 20px;
                justify-content: space-between;
                div {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .movie-description-chart-holder {
        margin-top: @marginTop;
        padding: 15px;
        border-radius: @borderRadius;
        background-color: @primaryDark;
        color: @primaryWhite;
        .toggle-icons {
            .mat-icon {
                margin: 5px;
                font-size: 30px;
                &:hover {
                    cursor: pointer;
                }
            }
            .clickedIcon {
                &:hover {
                    cursor: initial;
                }
                color: @secondaryDark;
            }
        }
        p {
            display: flex;
            align-items: center;
            text-align: center;
            padding: 10px;
            font-size: 20px;
            line-height: 30px;
            .mat-icon {
                color: @primaryWhite;
            }
            span {
                margin-left: 5px;
            }
        }
        .chart-container {
            div {
                display: flex;
                font-size: 20px;
                padding: 10px;
            }
            .mat-icon {
                margin-right: 10px;
            }
        }
    }
    .movie-user-reviews-holder {
        margin-top: @marginTop;
        border-radius: @borderRadius;
        background-color: @primaryDark;
        color: @primaryWhite;
        padding: 10px;
        .review-row {
            margin-top: 10px !important;
            border-bottom: 0.5px solid @primaryWhite;
        }
        .user-nickname-holder {
            overflow: hidden;
            font-size: 13px;
        }
        .title-date-container {
            height: 5rem;
            .review-title-holder {
                font-size: 18px;
            }
            .review-date-holder {
                font-size: 12px;
            }
        }
        .review-text-holder {
            min-height: 140px;
            max-height: 140px;
            overflow: hidden;
        }
        .review-date-holder {
            .mat-icon {
                font-size: 12px;
                text-align: center;
            }
        }
        .review-rating-holder {
            .review-votes {
                display: block;
                text-align: -webkit-center;
                .mat-icon {
                    display: flex;
                }
            }
        }
        .mat-paginator {
            margin-top: 10px;
            border-radius: @borderRadius;
            ::ng-deep .mat-paginator-page-size, ::ng-deep .mat-paginator-range-label {
                color: @primaryDark;
            }
        }
    }
    .movie-credits-holder {
        h2 {
            color: @primaryWhite;
            margin-top: 15px;
            margin-bottom: unset;
        }
        @media (max-width: @sizes[mobile]) {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
        .col-12 {
            @media (max-width: @sizes[mobile]) {
                display: inline-block;
                float: none;
            }
        }
        .cast-role-holder {
            .actor-name {
                color: @primaryWhite;
                text-decoration: none;
                font-size: 18px;
                text-align: center;
                &:hover {
                    color: @secondaryWhite;
                }
            }
            .role-name {
                color: @primaryWhite;
            }
        }
        .cast-image-holder {
            padding: 1rem;
        }
        img {
            border-radius: 50%;
            max-height: 160px;
            max-width: 160px;
            min-height: 160px;
            min-width: 160px;
        }
    }
    .more-like-this-holder {
        margin-top: 15px;
        margin-bottom: 20px;
        .container-title {
            color: @primaryWhite;
            margin-top: 15px;
            margin-bottom: unset;
        }
        .mlt-movie-details {
            border-radius: @borderRadius;
            a {
                text-decoration: none;
                &:hover {
                    span {
                        color: @secondaryWhite;
                    }
                }
            }
            h2, h4 {
                text-align: center;
                margin-bottom: unset;
                color: @primaryWhite;
            }
            h2 {
                font-size: 24px;
            }
            img {
                margin: 0 auto !important;
            }
        }
    }
}