<app-filters [elements]="movies"></app-filters>
<div class="loading-spinner">
    <mat-spinner *ngIf="loading$ | async"></mat-spinner>
</div>
<div class="movies">
    <ng-container *ngFor="let movie of movies">
        <li>
            <a class="poster-holder" routerLink="/movies/{{movie.id}}">
                <img [src]="movie.image.url"/>
            </a>
            <a routerLink="/movies/{{movie.id}}">
                <h2>
                    <span>{{movie.title}}</span>
                </h2>
            </a>
            <div *ngIf="userId" class="favorite-icon-holder" (click)="authService.toggleFavorite('movie', movie.id)">
              <span>
                <mat-icon>
                  {{ authService.isFavorite('movie', movie.id) ? 'favorite' : 'favorite_border' }}
                </mat-icon>
              </span>
            </div>
            <h4>
                <span>({{movie.year}}) / {{movie.runningTimeInMinutes|minutesToHours}}</span>
            </h4>
            <div class="casting-holder">
                {{'title.starring' | translate}}: {{movie.credits|symbolSeparating: ', '}}
            </div>
        </li>
    </ng-container>
</div>
