<app-filters [elements]="movies"></app-filters>
<div class="loading-spinner">
    <mat-spinner *ngIf="loading$ | async"></mat-spinner>
</div>
<div class="movies">
    <ng-container *ngFor="let movie of movies">
        <li>
            <a class="poster-holder" routerLink="/movie/{{movie.id}}">
                <img [src]="movie.image.url"/>
            </a>
            <a routerLink="/movie/{{movie.id}}">
                <h2>
                    <span>{{movie.title}}</span>
                </h2>
            </a>
            <h4>
                <span>({{movie.year}}) / {{movie.runningTimeInMinutes|minutesToHours}}</span>
            </h4>
            <div class="casting-holder">
                Starring: {{movie.credits|symbolSeparating: ', '}}
            </div>
        </li>
    </ng-container>
</div>