<div class="filter-holder">
    <mat-toolbar>
        <mat-toolbar-row>
            <span>{{'filters.order_by'|translate}}:</span>
            <ng-container *ngIf="type == 'actors'">
                <button (click)="filterElements('name')">
                    <mat-icon>title</mat-icon>
                    <span>{{'filters.name'|translate}}</span>
                    <div *ngIf="nameOrder">
                        <mat-icon *ngIf="ascending">arrow_upward</mat-icon>
                        <mat-icon *ngIf="!ascending">arrow_downward</mat-icon>
                    </div>
                </button>
            </ng-container>
            <ng-container *ngIf="!type">
                <button (click)="filterElements('year')">
                    <mat-icon>date_range</mat-icon>
                    <span>{{'filters.year'|translate}}</span>
                    <div *ngIf="yearOrder">
                        <mat-icon *ngIf="ascending">arrow_upward</mat-icon>
                        <mat-icon *ngIf="!ascending">arrow_downward</mat-icon>
                    </div>
                </button>
                <button (click)="filterElements('title')">
                    <mat-icon>title</mat-icon>
                    <span>{{'filters.name'|translate}}</span>
                    <div *ngIf="abcOrder">
                        <mat-icon *ngIf="ascending">arrow_upward</mat-icon>
                        <mat-icon *ngIf="!ascending">arrow_downward</mat-icon>
                    </div>
                </button>
                <button (click)="filterElements('runningTimeInMinutes')">
                    <mat-icon>hourglass_full</mat-icon>
                    <span>{{'filters.length'|translate}}</span>
                    <div *ngIf="runTimeOrder">
                        <mat-icon *ngIf="ascending">arrow_upward</mat-icon>
                        <mat-icon *ngIf="!ascending">arrow_downward</mat-icon>
                    </div>
                </button>
            </ng-container>
        </mat-toolbar-row>
    </mat-toolbar>
</div>